@use 'tokens/color';
@use 'modules/link';

.link-with-icon {
  @include link.linkContent('.link-with-icon__content');
}

.link-with-icon__icon {
  display: inline-block;
  vertical-align: baseline;
  width: 0.875em;
  height: 0.875em;
  margin-right: 0.25em;
  position: relative;
  top: 0.125em;
}

// .link-with-icon__content {
//   @include link.linkContent('.link-with-icon');
// }
