@use 'tokens/color';
@use 'modules/link';

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: 0.1875rem solid color.$outline;
}

a:not(.unstyled-link) {
  @include link.link;
}
