---
layout: main
title: For Web
description: Годнота для фронтендеров и дизайнеров
---
{% from "components/rss-link/index.njk" import rssLink %}
{% from "components/link-with-icon/index.njk" import linkWithIcon %}
{% from "components/icons/vk.njk" import iconVk %}
{% from "components/icons/telegram.njk" import iconTelegram %}
{% from "components/icons/twitter.njk" import iconTwitter %}

<div class="content">
  <h1>
    Годнота для фронтендеров
  </h1>

  <p class="paragraph--lead">
    С 2014 года ежедневно публикуем свежие статьи, доклады, инструменты и многое другое в {{ linkWithIcon(icon=iconTelegram(), href="tg://resolve?domain=forwebdev", text="Телеграме") }}, {{ linkWithIcon(icon=iconVk(), href="https://vk.com/forwebdev", text='ВКонтакте') }} и {{ linkWithIcon(icon=iconTwitter(), href="https://twitter.com/forwebdev", text="Твитере") }}
  </p>

  <h2>
    <a href="/blog">Наши статьи</a> {{ rssLink(site.feeds.articles) }}
  </h2>

  <ul>
    {% set latestArticles = collections.articles | sort(true, false, 'date') | slice(3) %}
    {% for article in latestArticles[0]  %}
      <li class="indicate-visited-links">
        <a href="{{ article.url }}">{{ article.data.title }}</a>
      </li>
    {% endfor %}
    <li>Все статьи → <a href="/blog">/blog</a></li>
  </ul>

  <h2>Архив</h2>

  <ul>
    <li>
      <a href="/digest">
        Новости фронтенда без шума
    </li>
  </ul>
</div>
